services:
  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    ports:
      - "5672:5672"    
      - "15672:15672"
